/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  margin: 0;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
}

/* Reset CSS */
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.3em;
}
input, button, textarea {
  outline: none;
}
button {
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Common CSS */
.inner {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
  box-sizing: border-box;
}

/* Header */
header {
  z-index: 1;
  position: fixed;
  width: 100%;
  transition: .5s;
}
.banner {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35);
  height: 40px;
  transition: .3s;
}
.lnb {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
  text-align: right;
}
.lnb a {
  color: #ddd;
  margin-right: 10px;
}
.lnb a:last-child {
  margin-right: 0;
}
.lnb a em {
  color: #bbb;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  margin: 15px auto 0;
  padding: 0 15px;
}
.logo {
  width: 57px;
  height: 57px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.gnb {
  display: flex;
}
.gnb li a {
  margin: 20px;
  color: #fff;
}
.gnb li a:hover {
  color: #333;
}
.gnb li a:last-child {
  margin-right: 0;
}
.trigger {
  display: none;
}

/* Header width active class */
header.active {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
header.active .banner {
  height: 0;
  overflow: hidden;
}
header.active nav {
  margin: 15px auto;
}
header.active .gnb li a {
  color: #000;
}

/* Intro */
.intro {
  display: flex;
  align-items: center;
  height: 100vh;
  background: url(../img/intro.jpg) no-repeat center center / cover;
}
.heading {
  color: #fff;
  text-align: center;
}
.heading h1 {
  font-size: 70px;
  margin-bottom: 30px;
}
.heading p {
  font-size: 22px;
  line-height: 1.5em;
  padding: 0 150px;
}

/* About Section */
.about-content {
  display: flex;
  padding: 100px 0;
}
.about-content div {
  padding: 25px;
}
.desc {
  text-align: center;
  flex: 3;
}
.desc h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.desc p {
  font-size: 16px;
  line-height: 1.7em;
}
.desc a {
  color: #c25a3a;
  font-weight: bold;
}
.desc a:hover {
  text-decoration: underline;
}
.photo {
  flex: 2;
}
.photo img {
  width: 100%;
  border-radius: 40% 60% 65% 45% / 40% 45% 55% 60%;
}

/* Ranking Section */
.ranking {
  background-color: #f8f8f8;
}
.ranking-content {
  padding: 100px 0;
}
.ranking-content h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}
.items {
  display: flex;
  justify-content: space-between;
}
.items .item {
  width: 390px;
  height: auto;
  margin-right: 7px;
  background: #fff;
  border-radius: 30px 0 30px 0;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.281);
  overflow: hidden;
}
.items .item:last-child {
  margin: 0;
}
.items .item .up-image {
  width: 390px;
  height: 285px;
}
.items .item .up-image img {
  width: 100%;
  height: 100%;
}
.items .item .down-desc {
  padding: 35px 25px 25px;
}
.items .item .down-desc h3 {
  margin: 15px 0;
  font-size: 22px;
}
.items .item .down-desc p {
  font-size: 16px;
}
.btn-more {
  color: #c25a3a;
  font-weight: 500;
}
.btn-more img {
  transition: .3s;
}
.btn-more:hover img {
  transform: translateX(7px);
}
.badge {
  padding: 2px 10px;
  color: #fff;
  font-size: 16px;
}
.badge.must-go {
  background-color: #e60012;
}
.badge.good-to-go {
  background-color: #00a0e9;
}

/* Testimonial Section */
.testimonial {
  padding: 100px 0;
}
.testimonial-content {
  width: 100%;
  text-align: center;
}
.testimonial-content h2 {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
.testimonial-content hr {
  border: none;
  width: 120px;
  height: 2px;
  margin: 20px auto;
  background-color: #1c45e3;
}
.slide-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.slider {
  display: flex;
  width: calc(100% * 6);
  transform: translateX(0);
  transition: transform .5s ease-in-out;
}
.slider .slider-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}
.slider .slider-item .client {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.slider .slider-item .client img {
  width: 50%;
  min-width: 170px;
  margin-bottom: 13px;
  border-radius: 50%;
}
.slider .slider-item .client span b {
  display: block;
}
.slider .slider-item .slide-txt {
  flex: 3;
  margin: 15px 0 50px;
  /* padding-left: 17px; */
  box-sizing: border-box;
}
.slide-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
}
.slide-controls li {
  width: 9px;
  height: 9px;
  margin: 0 7px;
  background-color: #aaa;
  border: 1px solid #aaa;
  border-radius: 50%;
  cursor: pointer;
  transition: .5s;
}
.slide-controls li.active {
  width: 19px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}

/* Callaction Section */
.callaction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  background: url(./img/callaction-01.jpg) no-repeat center center / cover;
  position: relative;
}
.callaction::before {
  content: '';
  background: linear-gradient(to right, rgba(67, 13, 67, 0.5), rgba(124, 124, 15, 0.8));
  width: 100%;
  height: 100%;
  position: absolute;
}
.callaction-heading {
  text-align: center;
  position: relative;
}
.callaction-heading h2 {
  margin-bottom: 50px;
  color: #fff;
  font-size: 48px;
  font-weight: 300;
}
.callaction-heading h2 b {
  font-weight: 500;
}
.callaction-heading a {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}

/* Blog Section */
.blog {
  padding: 100px 0;
}
.blog-header h6,
.recent-post-item h6,
.shared-post-item h6 {
  font-size: 16px;
  color: #00a0e9;
  text-transform: uppercase;
}
.recent-post-item h6,
.shared-post-item h6 {
  margin-bottom: 30px;
  color: #000;
}
.blog-header h2 {
  margin: 10px 0;
  font-size: 32px;
  text-transform: uppercase;
}
.blog-header p {
  line-height: 1.3em;
  font-size: 22px;
}
.post-content {
  display: flex;
}
.post-content .recent-post-item {
  flex: 2;
  padding-right: 15px;
}
.post-item {
  display: flex;
}
.post-item .post-image {
  width: 360px;
  border-radius: 30px 0 30px 0;
  overflow: hidden;
}
.post-item .post-image img {
  width: 100%;
}
.post-item .post-desc {
  flex: 3;
  padding: 0 20px;
}
.post-item .post-desc h3 {
  font-size: 24px;
  text-transform: uppercase;
}
.post-item .post-desc p {
  font-size: 18px;
  line-height: 1.3em;
}
.post-item .post-desc p span {
  display: block;
  font-size: 14px;
  color: #6d6d6d;
  margin-top: 20px;
}
.post-content .shared-post-item {
  width: 360px;
}
.shared-post-item .post-item {
  display: flex;
  flex-direction: column;
}
.shared-post-item .post-desc {
  padding: 0;
}
hr.divider {
  margin: 40px 0;
  border: none;
  border-bottom: 1px solid #ddd;
}
.post-content hr.divider {
  margin: 30px 0;
  border-bottom: 1px solid #eee;
}
.divider-shared {
  display: none;
}

/* Festival Section */
.festival {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  background-color: #333;
}
.festival-heading {
  text-align: center;
}
.festival-heading h3 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 30px;
}
.festival-heading h3 span {
  font-weight: 500;
}
.festival-heading .btns a {
  display: inline-block;
  width: 200px;
  margin: 5px;
  padding: 6px;
  border-radius: 5px;
}
.festival-heading .btns a:nth-child(1) {
  background-color: #fac53b;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}
.festival-heading .btns a:nth-child(2) {
  background-color: #ededed;
  color: #333;
}

/* Footer */
footer {
  padding: 30px 0;
  background-color: #000;
}
.footer-content {
  display: flex;
}
.footer-content ul {
  text-align: center;
}
.footer-content ul li {
  color: #d9d9d9;
}
.footer-content ul li:first-child {
  color: #eee;
  font-weight: 500;
}
.footer-content ul li a {
  color: #959595;
}
.footer-content ul li a:hover {
  text-decoration: underline;
}
.community {
  flex: 1;
}
.network {
  flex: 1;
}
.help {
  flex: 2;
}
.help li {
  color: #959595;
}
.help li:last-child {
  margin-top: 20px;
}

/* go-to-top */
.go-to-top {
  position: fixed;
  right: 10px;
  bottom: -20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  text-align: center;
  background: linear-gradient(45deg, rgba(92, 88, 88, 0.774), rgba(128, 113, 113, 0.288));
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .5s;
}
.go-to-top.active {
  bottom: 20px;
  opacity: 1;
}
